{% extends 'base.html' %}

{% block style %}
<style>
body {
	position: fixed;
	top: 0;
}
body>div.content {
	margin-top: 7em
}
</style>
{% endblock %}

{% block content %}

<div class="ui fixed inverted menu">
	<div class="ui container">
		<a href="#" class="header item">
			<img class="logo" src="assets/images/logo.png">
			Alma
		</a>
		<a href="#" class="item">Home</a>
		<div class="ui simple dropdown item">
			{{ course.get_name }} <i class="dropdown icon"></i>
			<div class="menu">
				{% for c in course_list %}
				<a class="item" href="{% url 'course_index' c.id %}">{{ c.get_name }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div></div>

<div class="ui main text container content">
	<h1 class="ui header">{{ post.title }}</h1>
	<p>{{ post.content }}</p>
	<hr />
	<div class="ui comments">
		<h3 class="ui dividing header">Replies</h3>
		{% for c in post.post_set.all %}
		<div class="comment">
			<div class="content">
				<a class="author" href="">{{ c.author_name }}</a>
				<div class="metadata"><span class="date">{{ c.pub_time }}</span></div>
				<div class="text">{{ c.content }}</div>
				<div class="actions"><a class="reply" href="">Reply</a></div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
