{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load basename %}
{% load grade %}

{% block main %}
	{% if is_prof %}
	<a id="edit-post" href="{% url 'assignments:new' course.id %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
	{% endif %}

	<div id="info-content">
		<h4>Assignment List</h4>
		<p>This page shows the assignments associated with this course. You can only see this page if you are a member of the course.</p>
		<h5>New Assignments</h5>
		<p>If you are a professor for this course, you will have a blue new button on the bottom right.</p>
		<h5>Grades</h5>
		<p>Next to your assignment, it will show your grade. This grade is from the most recent submission that already has a grade.</p>
	</div>

	<div class="row">
		<div id="post" class="card clear-m">
			<div class="card-content">
				<span class="card-title">{{ course.get_name }} Assignments</span>
				{% if post_list %}
				<table class="highlight">
					<thead>
						<tr>
							<th>Assignment</th>
							<th>Due Date</th>
							<th>Grade</th>
						</tr>
					</thead>
					<tbody>
						{% for post in post_list %}
						<tr class="link-row" data-href="{% url 'assignments:detail' course.id post.id %}" style="cursor: pointer">
							<td>{{ post.title }}</td>
							<td>{{ post.due_date }}</td>
							<td>{% grade post user.id %}</td>
						</tr>
						{% endfor %}	

					</tbody>
				</table>
				{% endif %}	
			</div>
			{% if not post_list %}
			<div class="divider"></div>
			<div class="card-content">
				{% if is_prof %}
				<p>There's nothing here. Click the <span class="blue-text">blue</span> Plus button on the bottom right to get started.</p>
				{% else %}
				<p>There's nothing here. Please log in as a Professor or TA to add an assignment.</p>
				{% endif %}
			</div>
			{% endif %}	
		</div>
	</div>

{% endblock %}

<script>
{% block document_ready %}
$('.link-row').click(function() {
	window.location = $(this).data("href");
});
{% endblock %}
</script>
